.card{
    position: relative;
    width: 300px;
    height: 100px;
    background: grey;
    margin: 15px;
    padding: 20px;
    box-shadow: -5px -5px 15px var(--card-shadow-color-top-left),5px 5px 15px var(--card-shadow-color-bottom-right);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    cursor: pointer;
    transition: .4s;
}